server {
    listen       80;
    listen  [::]:80;

    listen 443  ssl;
    server_name www.lee-hyunsu-kubernetes.com

    ssl_certificate tls/https.cert  # 웹사이트의 공개 키가 들어있는 인증서 파일
    ssl_certificate_key tls/https.key # 인증서와 대응하는 개인키
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # TLS 프로토콜 버전 지정
    ssl_ciphers HIGH:!aNULL:!MD5;   # TLS 암호화 알고리즘 지정 

    access_log  /var/log/nginx/host.access.log  main;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location /myapp {
        proxy_pass http://my-app:8080/;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}